.main-chat
  .group-info
    .group-info__group
      .group-info__group__name
        = @group.name
      .group-info__group__member
        Member：
        %ul
          - @group.users.each do |user|
            = user.name
    .group-info__edit-btn
      = link_to edit_group_path(@group) do
        edit
  .message-list
    = render @messages
  .message-form
    .message-form__new-message
      = form_for [@group, @message], html: {multipart: true} do |f|
        .message-form__new-message__textarea
          = f.text_field :content, class: "message-form__new-message__textarea__text", placeholder: "type a message"
          = f.label :image, class: "message-form__new-message__textarea__image" do
            = icon('far', 'image')
            = f.text_field :image, type: "file"
        = f.submit 'Send', class: 'message-form__new-message__send-btn', id: 'form-submit'

    -# %form.message-form__new-message
    -#     .message-form__new-message__textarea
    -#       %input.message-form__new-message__textarea__text{type: "text",  name: "text", placeholder: "type a message"}
    -#       %label{class: "message-form__new-message__textarea__image"}
    -#         = icon('far', 'image',)
    -#         %input{type: "file", name: "image"}
    -#     %input.message-form__new-message__send-btn{type: "submit", value: "Send"}